@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes kenburns-top {
    0% {
      transform: scale(1) translateY(0);
      transform-origin: 50% 16%;
    }
    100% {
      transform: scale(1.15) translateY(-10px);
      transform-origin: top;
    }
  }

  .animate-ken-burns {
    animation: kenburns-top 13s ease-out both;
  }
}

audio::-webkit-media-controls-panel {
  background-color: #374151; /* gray-700 */
}
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-mute-button {
  filter: invert(1);
}
